@import url(https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css);

$primary-font: GothamPro;
$box-border-colour: #f1f1f0;

body {
  background-color: #fbfbfb;
  font-family: $primary-font;
  letter-spacing: -0.045em;
}
div.card {
  margin: 0 auto;
  margin-top: 150px;
  border: none;
  border-radius: 0px;
  box-shadow: 0px 2px 2px 2px #efefef;
  max-width: 520px;
  background-color: white;
}
div.card-body {
  padding: 50px 40px;
}
.green-logo {
  margin-bottom: 20px;
  padding-left: 3px;
  height: 30px;
}
h1.card-title {
  font-weight: 400;
  color: #4d494b;
  font-size: 33px;
  margin-bottom: 15px;
}
h4 {
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 70px;
  color: #a5a3a4;
  font-size: 18px;
  padding-left: 3px;
}
.form-label {
  color: #7b7a7b;
  font-size: 15.5px;
  font-weight: 100;
  padding-left: 3px;
  padding-bottom: 5px;
}
.form-input {
  margin-top: 8px;
  margin-bottom: 20px;
  display: block;
  height: 50px;
  border-color: $box-border-colour;
  border-radius: 8px;
  border-style: solid;
  width: stretch;
}
.form-check {
  padding-bottom: 70px;
}
input.form-check-input {
  margin-top: 0px;
  height: 18px;
  width: 18px;
  color: $box-border-colour;
  border-radius: 8px;
  margin: 0px;
}
.form-check-input:active {
  border: none;
}
.form-check-label {
  display: inline-block;
  font-weight: 100;
  color: #4d494b;
  padding-left: 10px;
  padding-bottom: 7px;
  font-size: 15px;
  vertical-align: middle;
}
button {
  background-color: transparent;
  border: 2px;
  border-style: solid;
  border-color: $box-border-colour;
  font-weight: 100;
  padding: 15px 35px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 15px;
  font-family: $primary-font;
  color: #555355;
}
button:active,
button:hover {
  border-color: #0274ff;
  background-color: #0274ff;
  color: white;
}
